@{ 
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<h1>Solar City Home</h1>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>